<div id="home">
  <img class="img" src="../assets/imgs/imgBackground.png" alt="">
</div>

<div class="container d-flex flex-wrap justify-content-center  align-items-center my-4" id="sobreAplicacao">
  <div class="row align-items-center">
    <div class="col-md-6 ps-3 pe-3">
      <b class="titlePrimaryColor mb-3">Sobre a aplicação</b>
      <p class="description">"Museum Explore" é uma aplicação móvel inovadora que oferece aos entusiastas da arte uma
        experiência única, apresentando obras de vários museus em uma plataforma integrada. Os utilizadores podem
        explorar uma vasta coleção de obras, dentre o acervo do museu visitado, e adquirir bilhetes para os museus de
        forma conveniente através do dispositivo móvel.
        <br>Para enriquecer a visita, introduzimos a funcionalidade de QR Code junto às obras nos museus parceiros. Cada
        obra é acompanhada por um QR Code exclusivo que, ao ser escaneado, redireciona os utilizadores para a página
        correspondente na aplicação. Isso proporciona uma experiência digital enriquecedora, com informações detalhadas,
        curiosidades sobre a obra, complementando a visita ao museu.
      </p>
    </div>
    <div class="col-md-6 ">
      <img src="./assets/imgs/imgDownload.png" alt="" class="img-fluid" style="height: 20cap;">
    </div>
  </div>
</div>
<div id="museuParceiros" class="container-fluid images-container py-3">
  <b class="titleBackgroundColor mb-2">Museus Parceiros</b>
  <p-carousel [value]="(museumsData$ | async) ?? []" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1"
    [circular]="false" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
    <ng-template let-museum pTemplate="item">
      <div class="item card">
        <img [src]="museum.image || './assets/imgs/defaultImage.png'" class="card-img-top" alt="...">
        <div class="card-body position-absolute bottom-0 start-0 end-0 text-white p-2">
          <p class="m-0 labelTitle">{{museum.name}}</p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>