<div id="home">
  <img class="img" src="../assets/imgs/imgBackground.png" alt="">
</div>

<div class="container d-flex flex-wrap justify-content-between align-items-center mt-4" id="sobreAplicacao">
  <div class="row">
    <div class="col-md-6 ps-3 pe-3">
      <b class="titlePrimaryColor mb-3">Sobre a aplicação</b>
      <p class="description">"Museum Explore" é uma aplicação móvel inovadora que oferece aos entusiastas da arte uma
        experiência única, apresentando obras de vários museus em uma plataforma integrada. Os utilizadores podem
        explorar uma vasta coleção de obras, dentre o acervo do museu visitado, e adquirir bilhetes para os museus de
        forma conveniente através do dispositivo móvel.
        <br>Para enriquecer a visita, introduzimos a funcionalidade de QR Code junto às obras nos museus parceiros. Cada
        obra é acompanhada por um QR Code exclusivo que, ao ser escaneado, redireciona os utilizadores para a página
        correspondente na aplicação. Isso proporciona uma experiência digital enriquecedora, com informações detalhadas,
        curiosidades sobre a obra, complementando a visita ao museu.
      </p>
    </div>
    <div class="col-md-6 justify-content-center ">
      <img src="../assets/imgs/imgDownload.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
<div id="museuParceiros" class="container-fluid images-container p-5">
  <b class="titleBackgroundColor">Museus Parceiros</b>
  <div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
      <div class="card card-block">
        <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
      </div>
    </div>
  </div>
</div>