<div id="home">
    <img class="img" src="../assets/imgs/imgBackground.png" alt="">
  </div>
  
  <div class="container" id="sobreAplicacao">
    <div style="width: 1300px;">
      <b class="title" style="color: #023859;">Sobre a aplicação</b>
      <p class="text">"Museum Explore" é uma aplicação móvel inovadora que oferece aos entusiastas da arte uma
        experiência única, apresentando obras de vários museus em uma plataforma integrada. Os utilizadores podem
        explorar uma vasta coleção de obras, dentre o acervo do museu visitado, e adquirir bilhetes para os museus de
        forma conveniente através do dispositivo móvel.
        <br>Para enriquecer a visita, introduzimos a funcionalidade de QR Code junto às obras nos museus parceiros. Cada
        obra é acompanhada por um QR Code exclusivo que, ao ser escaneado, redireciona os utilizadores para a página
        correspondente na aplicação. Isso proporciona uma experiência digital enriquecedora, com informações detalhadas,
        curiosidades sobre a obra, complementando a visita ao museu.
      </p>
    </div>
    <div><img src="../assets/imgs/imgDownload.png" alt="" class="img-fluid" style="max-width: 50%;"></div>
  </div>
  
  <div id="museuParceiros" class="image-container">
    <div>
      <b class="title" style="color: aliceblue; margin: 20px;">Museus Parceiros</b>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="scroll-container">
            <div class="scroll-content">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
              <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>