<div class="modal" tabindex="-1" id="addImagesArtWorkModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body m-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
          *ngIf="artWorkImages.length > 0">
          <!-- <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                            aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                            aria-label="Slide 3"></button>
                                    </div> -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="tempArtWorkImages[0]" class="d-block w-100" alt="Image 0">
            </div>
            <div class="carousel-item" *ngFor="let additionalImage of tempArtWorkImages.slice(1); let i = index">
              <img [src]="additionalImage" class="d-block w-100" alt="Image {{ i + 1 }}">
            </div>
            <!-- <ng-template *ngIf="tempArtWorkImagePreviews.length > 0">
              <div class="carousel-item" *ngFor="let preview of tempArtWorkImagePreviews">
                <img [src]="preview" class="d-block w-100" alt="Image Preview">
              </div>
            </ng-template> -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
          <input class="form-control" type="file" id="formFileMultiple" (change)="onFileChange($event)" multiple>
        </div>
        <div class="modal-footer">
          <button type="button" class="buttonClose" #closeDeleteModal data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="buttonDelete">Salvar</button>
          <!-- (click)="saveArtWorkImages()" -->
        </div>
      </div>
    </div>
  </div>
</div>