<div class="modal" tabindex="-1" id="addImagesArtWorkModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body m-2">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
          *ngIf="artWorkImagesData$ | async as artWorkImagesData">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let image of artWorkImagesData; let i = index"
              [class.active]="i === currentImageIndex">
              <img [src]="image.image" class="d-block w-100" alt="Image {{i}}">
              <a (click)="deleteArtWorkImage(image.id, image.pathToImage)" class="delete-icon">
                <i class="material-icons">&#xe872;</i>
              </a>
            </div>
            <ng-container *ngIf="tempArtWorkImagePreviews.length > 0">
              <div class="carousel-item" *ngFor="let preview of tempArtWorkImagePreviews">
                <img [src]="preview" class="d-block w-100" alt="Image Preview">
              </div>
            </ng-container>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
          <input class="form-control dialogInputs" type="file" id="formFileMultiple" (change)="onFileChange($event)"
            multiple>
        </div>
        <div class="modal-footer">
          <button type="button" class="buttonClose" #closeImagesModal data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="buttonPrimary" (click)="saveArtWorkImages()">Salvar</button>
          <!-- (click)="saveArtWorkImages()" -->
        </div>
      </div>
    </div>
  </div>
</div>