<div class="overlay">
    <img class="backGroundImage" src="../assets/imgs/loginBackground.png" alt="">
    <div class="loginContainer p-5 card">
        <img src="../assets/imgs/lightLogoWithTextOnBottom.png" alt="">
        <h1>Login</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <a href="#">Forget password!</a>
    </div>
</div>