body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Impede o scroll */
}

.overlay {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #023859;
    mix-blend-mode: multiply;
    z-index: 1;
    /* Coloca a sobreposição acima da imagem */
}

.backGroundImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    /* Garante que a imagem cubra completamente o contêiner */
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background: #A68263;
    text-align: center;
}

.loginContainer img {
    width: 150px;
    height: auto;
}

h1 {
    font-size: 48px;
    color: #F2E6D0;
}

form div {
    text-align: start;
}

input {
    color: #F2E6D0;
}

button [type="submit"] {

    color: #F2E6D0;
}