<div class="overlay">
    <img class="backGroundImage" src="../assets/imgs/loginBackground.png" alt="">
    <div class="loginContainer p-5 card rounded-5">
        <img src="../assets/imgs/lightLogoWithTextOnBottom.png" alt="">
        <p class="py-3 titleBackgroundColor">Login</p>

        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" action="">
            <mat-form-field appearance="outline" class="mb-2">
                <mat-label color="primary" class="teste">Email</mat-label>
                <mat-icon color="primary" matPrefix>email</mat-icon>
                <input matInput placeholder="pat@example.com" [formControl]="email">
                @if (email.invalid) {
                <mat-error>{{getErrorMessage()}}</mat-error>
                }
                <mat-icon color="primary" matSuffix></mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <mat-icon color="primary" matPrefix>lock</mat-icon>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                <button color="primary" mat-icon-button matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <p class="mb-3"><a href="#">Forget password!</a></p>
            <button class="buttonPrimary" type="submit">Login</button>
        </form>

    </div>
</div>