<div class="row">
    <div class="col-md-6 float-left">
        <div class="card text-left" id="card-left">
            <div class="card-body">
                <h5 class="card-title">Obras do Museu</h5>
                <button onclick="" class="button">Adicionar obras</button>
                <p>------------------------------------</p>
                <h5 class="card-title">Categorias</h5>
                <div>
                    <input type="checkbox">
                    Óleo
                </div>
                <div>
                    <input type="checkbox">
                    Cubismo
                </div>
                <div>
                    <input type="checkbox">
                    Expressionismo
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 float-right">
        <img src="image/museu1.jpg" alt="" class="card-img">
    </div>
</div>