<div class="container-fluid">
    <div class="row m-5">
        <div class="col">
            <b class="title">Eventos</b>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal" href="#myModal">
                Adicionar Eventos
            </button>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-6" *ngFor="let event of eventsList; let i = index">
            <div class="card wider-card">
                <img [src]="eventImages[i]" class="card-img-top" alt="Eventos">
                <div class="card-body">
                    <p class="card-text transparent-text">{{ event.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>