.nav-link {
    color: #023859;
}

.header-background-auth {
    background-color: #023859;
}

.header-background-auth .navLinkAuthenticated {
    color: var(--backgound);
    font-size: var(--navLinkSize);
    font-weight: bold;
}

.navLinkLogout {
    color: var(--red);
    font-size: var(--navLinkSize);
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px;
    background-color: #F2E6D0;
}