<header *ngIf="authService.isLoggedIn; else isLoggedOut"
  class="d-flex flex-wrap justify-content-center py-3 mb-1 border-bottom header-background-auth">
  <div class="d-flex align-items-center ms-5 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="../../assets/imgs/logo_clara.png" alt="logo">
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item align-items-center d-flex"><a routerLink="dashboard" class="nav-link"
        routerLinkActive="active">Estatísticas</a>
    </li>
    <li class="nav-item align-items-center d-flex"><a routerLink="collection/list-artwork" class="nav-link"
        routerLinkActive="active">Acervo</a></li>
    <li class="nav-item align-items-center d-flex"><a routerLink="event/list-event" class="nav-link"
        routerLinkActive="active">Eventos</a></li>
    <li class="nav-item align-items-center d-flex me-5"><a (click)="authService.SignOut()" class="nav-link"><img
          src="../../assets/imgs/personIcon.png" alt=""></a></li>
  </ul>
</header>

<ng-template #isLoggedOut>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center ms-5 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../../assets/imgs/logo_escura.png" alt="logo">
    </div>

    <ul class="nav nav-pills">
      <li class="nav-item align-items-center d-flex"><a href="/home/#home" class="nav-link">Home</a></li>
      <li class="nav-item align-items-center d-flex"><a href="/home/#sobreAplicacao" class="nav-link">Sobre Nós</a></li>
      <li class="nav-item align-items-center d-flex"><a href="/home/#museuParceiros" class="nav-link">Museus
          Parceiros</a>
      </li>
    </ul>
  </header>
</ng-template>

<!-- <img src="image/logo_clara.png" alt="logo"> -->