<div class="m-5">
    <b class="title">Estatisticas Recentes</b>
</div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col">
            <canvas id="barCanvas" class="mx-auto" height="300" width="300">{{barChart}}</canvas>

            <div class="mt-2">
                <b class="descriptionTitle ps-5">Lorem ipsum</b>
                <p class="description ps-5 pe-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
        <div class="col">

            <canvas id="doughnutCanvas" class="mx-auto" height="300" width="300">{{doughnutChart}}</canvas>

            <div class="mt-2">
                <b class="descriptionTitle ps-5">Lorem ipsum</b>
                <p class="description ps-5 pe-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
    </div>
</div>

<div id="obrasRegistadas" class="container-fluid images-container p-5">
    <b class="title">Obras Registadas</b>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <!-- <div class="d-flex flex-row flex-nowrap overflow-auto" *ngFor="let artWork of listArtWorkComponent?.artWorkList"> -->
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mx-1">
            <div class="card card-block">
                <img src="../assets/imgs/museu1.jpg" alt="Imagem 1">
            </div>
        </div>
    </div>
</div>