<div class="container-fluid responsivePaddingX">
    <b class="titlePrimaryColor">Estatisticas Recentes</b>
    <div class="row mt-5">
        <div class="col responsivePaddingX">
            <canvas id="barCanvas" class="mx-auto" height="300px" width="auto">{{barChart}}</canvas>

            <div class="mt-2">
                <b class="descriptionTitleBlackColor">Lorem ipsum</b>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
        <div class="col responsivePaddingX">

            <canvas id="doughnutCanvas" class="mx-auto" height="300px" width="auto">{{doughnutChart}}</canvas>

            <div class="mt-2">
                <b class="descriptionTitleBlackColor">Lorem ipsum</b>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>
    </div>
</div>

<div id="obrasRegistadas" class="container-fluid images-container p-5">
    <b class="titleBackgroundColor">Obras Registadas</b>
    <div class="content-section implementation carousel-demo">
        <div class="card">
            <p-carousel [value]="(artWorksData$ | async) ?? []" styleClass="custom-carousel" [numVisible]="5"
                [numScroll]="1" [circular]="false" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
                <ng-template ngFor let-artwork pTemplate="item">
                    <div class="item card">
                        <img [src]="artwork.imageArray" class="card-img-top" style=" max-height: 200px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ artwork.name }}</h5>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <!-- <div class="wrapper">
        <div class="slider">
            <div class="slide-track">
                <div class="slide" *ngFor="let artwork of (artWorksData$ | async) as artworks; let i = index">
                    <img [src]="artworkImages[i]" alt="" class="card-img">
                </div>
            </div>
        </div>
    </div> -->
</div>