<div class="modal" tabindex="-1" id="createEventModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body m-2">
        <form [formGroup]="createEventForm" (ngSubmit)="createEvent()" action="closePopup.emit()">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-7 mb-3">
              <img [src]="eventImage || './assets/imgs/defaultImage.png'" alt="Escolha uma imagem"
                class="img-fluid popUpImage mb-2">
              <input type="file" class="form-control description dialogInputs" id="image"
                (change)="onFileSelected($event)" formControlName="image" accept=".jpg, .jpeg, .png">
              <div class="text-danger mt-3" *ngIf="isFieldInvalid('image') && isFieldTouched('image')">
                Imagem inválida.
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-5">
              <div class="form-outline mb-3">
                <label class="form-label" for="titleCreateInput">Nome do Evento</label>
                <input type="text" id="titleCreateInput" class="form-control form-control-lg dialogInputs"
                  formControlName="title" [(ngModel)]="event.title" />
                <div class="text-danger mt-3" *ngIf="isFieldInvalid('title') && isFieldTouched('title')">
                  Nome do Evento inválido.
                </div>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="startDateCreateInput">Data Inicial</label>
                <input type="date" id="startDateCreateInput" class="form-control form-control-lg dialogInputs"
                  formControlName="startDate" [(ngModel)]="event.startDate" />
                <div class="text-danger mt-3" *ngIf="isFieldInvalid('startDate') && isFieldTouched('startDate')">
                  Data Inicial inválida.
                </div>
              </div>
              <div class="form-outline mb-3">
                <label class="form-label" for="finishDateCreateInput">Data Final</label>
                <input type="date" id="finishDateCreateInput" class="form-control form-control-lg dialogInputs"
                  formControlName="finishDate" [(ngModel)]="event.finishDate" />
                <div class="text-danger mt-3" *ngIf="isFieldInvalid('finishDate') && isFieldTouched('finishDate')">
                  Data Final inválida.
                </div>
              </div>
            </div>
            <div class="form-outline">
              <label class="form-label" for="descriptionCreateInput">Descrição</label>
              <textarea id="descriptionCreateInput" class="form-control form-control-lg dialogInputs"
                formControlName="description" [(ngModel)]="event.description"></textarea>
              <div class="text-danger mt-3" *ngIf="isFieldInvalid('description') && isFieldTouched('descritpion')">
                Descrição inválida.
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- Using this <a> just to close the modal after the submit-->
            <a #closeCreateModal data-bs-dismiss="modal"></a>
            <button type="submit" class="buttonPrimary" [disabled]="createEventForm.invalid">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>