<div class="modal" tabindex="-1" id="updateUserModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body m-2">
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()" action="closePopup.emit()">
          <div class="form-outline mb-3">
            <label class="form-label" for="museumNameUpdateInput">Nome do Museu</label>
            <input type="text" id="museumNameUpdateInput" class="form-control form-control-lg dialogInputs"
              formControlName="museumName" [(ngModel)]="user.username" />
            <div class="text-danger mt-3" *ngIf="isFieldInvalid('museumName') && isFieldTouched('museumName')">
              Nome do museu inválido.
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="oldPasswordUpdateInput">Palavra-Passe Atual</label>
            <div class="input-group">
              <input type="{{ showOldPassword ? 'text' : 'password' }}" id="oldPasswordUpdateInput"
                class="form-control form-control-lg dialogInputs" formControlName="oldPassword" />
              <button type="button" class="btn btn-outline-secondary" (click)="toggleOldPasswordVisibility()">
                <i class="{{ showOldPassword ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
              </button>
            </div>
            <div class="text-danger mt-3" *ngIf="isPasswordHaveValue()">
              Insira a sua palavra-passe atual.
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="newPasswordUpdateInput">Palavra-Passe</label>
            <div class="input-group">
              <input type="{{ showNewPassword ? 'text' : 'password' }}" id="newPasswordUpdateInput"
                class="form-control form-control-lg dialogInputs" formControlName="newPassword" />
              <button type="button" class="btn btn-outline-secondary" (click)="toggleNewPasswordVisibility()">
                <i class="{{ showNewPassword ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
              </button>
            </div>
            <div class="text-danger mt-3" *ngIf="isNewPasswordHaveSameValueAsOld()">
              Nova palavra-passe igual a palavra-passe atual.
            </div>
          </div>
          <div class="form-outline mb-3">
            <label class="form-label" for="repeatPasswordUpdateInput">Repetir Palavra-Passe</label>
            <div class="input-group">
              <input type="{{ showRepeatPassword ? 'text' : 'password' }}" id="repeatPasswordUpdateInput"
                class="form-control form-control-lg dialogInputs" formControlName="repeatPassword" />
              <button type="button" class="btn btn-outline-secondary" (click)="toggleRepeatPasswordVisibility()">
                <i class="{{ showRepeatPassword ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
              </button>
            </div>
            <div class="text-danger mt-3" *ngIf="isNewPasswordHaveSameValueAsRePassword()">
              Palavras-passes diferentes.
            </div>
          </div>
          <div class="modal-footer">
            <!-- Using this <a> just to close the modal after the submit-->
            <a #closeUpdateModal data-bs-dismiss="modal"></a>
            <button type="submit" class="buttonPrimary" [disabled]="updateUserForm.invalid">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>