<h1 style="margin-left: 80px;">Museu: Museu xyz</h1>

    <div class="container-fluid">
        <div class="row mb-5 mt-5">
          <div class="col mlr-100"> <!-- "mlr-100" Classe criada para dar margin de 100px para a esquerda e direita -->
            <p class="subtitle">Imagem: <img src="image/edit.png" alt="edit" width="40" height="40" class="ml-4"></p>
            <img src="image/museu2.jpg" alt="museu" width="165" height="165">
          </div>
          <div class="col mlr-100">
            <div>
                <p class="subtitle">Telefone: <img src="image/edit.png" alt="edit" width="40" height="40" class="ml-4"></p>
                <p class="value">912525623</p>
            </div>
            <div>
                <p class="mt-5 subtitle">Avaliação:</p>
                <img src="image/stars.png" alt="avaliacao" width="147" height="30">
            </div>
          </div>
        </div>
        <div class="row mb-5 mt-5">
          <div class="col mlr-100">
            <div>
                <p class="subtitle">Descrição: <img src="image/edit.png" alt="edit" width="40" height="40" class="ml-4"></p>
                <p class="value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="mt-5">
                <p class="subtitle">Bilheteira: <img src="image/edit.png" alt="edit" width="40" height="40" class="ml-4"></p>
                <p class="value">Limite de pessoas por hora: 25 pessoas</p>
            </div>
            <div class="mb-5 mt-5"> <!-- Usa a class mb-5 para quando a celula da localizaçao passar para baixo nao ficar enconstado ao botao-->
                <button class="btn btn-primary">Visualizar tipos de bilhetes</button>
            </div>
          </div>
          <div class="col mlr-100">
            <p class="subtitle">Localização: <img src="image/edit.png" alt="edit" width="40" height="40" class="ml-4"></p>
            <p class="value">Museu de Alberto Sampaio, Rua Alfredo Guimarães, Guimarães</p>
            <img src="image/localizacao.png" alt="localizacao" width="430" height="355">
          </div>
        </div>
        <div class="row">
          
        </div>
      </div>