<div class="container-fluid responsivePaddingX">
  <b class="titlePrimaryColor">Museu: {{museumData?.name}}</b>
  <form [formGroup]="museumForm" (ngSubmit)="updateMuseum()">
    <div class="row" style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
      <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
        <div class="form-group">
          <label for="image" class="col-form-label descriptionTitleBlackColor">Imagem:</label>
          <br>
          <div class="position-relative">
            <img [src]="museumImage || './assets/imgs/defaultImage.png'" alt="museu"
              class="img-fluid mb-2 shadow-1-strong rounded mb-4" style="max-height: 200px; width: auto;">
            <div class="position-absolute top-0 start-0 end-0 text-white p-2">
              <a data-bs-toggle="modal" data-bs-target="#addImagesArtWorkModal"><i
                  class="material-icons">&#xe413;</i></a>
            </div>
          </div>
          <br>
          <input type="file" class="form-control description dialogInputs w-75" id="image"
            (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png">
        </div>

        <div class="form-group mt-2">
          <label for="staticDescripton" class="col-form-label descriptionTitleBlackColor">Descrição:</label>
          <textarea class="form-control-plaintext description" formControlName="description"
            [(ngModel)]="museumData === undefined? '': museumData.description" id="description"
            value="{{museumData?.description}}" style="height: 15ch;"></textarea>
          <div class="text-danger mt-3" *ngIf="isFieldInvalid('description') && isFieldTouched('description')">
            Invalid Description.
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="form-group mt-2">
          <label for="staticLocation" class="col-form-label descriptionTitleBlackColor">Localização</label>
          <div>
            <input type="text" class="form-control-plaintext description" id="location"
              placeholder="Longitude, Latitude" name="location" formControlName="location" [(ngModel)]="locationValue"
              (blur)="onLocationBlur()" required>
            <div class="text-danger mt-3" *ngIf="isFieldInvalid('location') && isFieldTouched('location')">
              Invalid Location.
            </div>
            <div id="map" style="height:50cap;">
            </div>
          </div>
        </div>

      </div>
      <div class="mb-2 mt-5">
        <div class="d-flex align-items-center mb-2">
          <span class="descriptionTitleBlackColor me-2">Bilhetes</span>
          <img src="./assets/imgs/expand-plus-icon.svg" height="25px" width="25px" alt="">
        </div>
        <p-carousel [value]="(ticketTypesData$ | async) ?? []" styleClass="custom-carousel" [numVisible]="5"
          [numScroll]="1" [circular]="false" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
          <ng-template let-ticketType pTemplate="item">
            <div class="item card position-relative">
              <img [src]="ticketType.image || './assets/imgs/defaultImage.png'" class="card-img-top overlay-image"
                alt="...">
              <div
                class="position-absolute top-0 start-0 end-0 text-white p-2 text-center h-100 d-flex flex-column justify-content-between overlay-container">
                <p class="m-0 ticketType">{{ticketType.type}}</p>
                <p class="m-0 ticketPrice">{{ticketType.price}}</p>
                <p class="m-0 ticketDescription">{{ticketType.description}}</p>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="mb-3 text-center">
        <button class="buttonPrimary" type="submit" [disabled]="museumForm.invalid">Guardar</button>
      </div>
    </div>
  </form>
</div>