body,
:root {
    /* FONTES */
    --font-inria-sans: "Inria Sans";
  
    /* CORES */
    --backgound: #f2e6d0;
    --dark-blue: #023859;
    --color-white: #fff;
    --color-rosybrown-100: #a68263;
    --color-rosybrown-200: rgba(166, 130, 99, 0.5);
    --blue-light-primary: #0093ed;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #F2E6D0;
    font-family: 'Inria Sans', sans-serif;
}

.title {
    color: #023859;
    font-size: 48px;
}

.description {
    font-size: 18px;
    color: #545247;
}

.images-container {
    margin-top: 75px;
    background-color: #023859;
}

.images-container .title {
    color: #F2E6D0;
}
html, body { height: 100%; }
body { margin: 0; font-family: var(--font-inria-sans); }
