body,
:root {
    /* FONTES */
    --font-inria-sans: "Inria Sans";

    /* CORES */
    --backgound: #f2e6d0;
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #023859;
    --light-blue: #0D6EDF;
    --brown: #40311E;
    --red: #D65757;

    --paddingX: 2vw;
    --colPaddingX: 2vw;

    --titleSize: 2.7vw;
    --subTitleSize: 1.7vw;
    --navLinkSize: 1.3vw;
    --descriptionTitleSize: 1.2vw;
    --descriptionSize: 1vw;

    /* Label is used on the display cards*/
    --labelTitleSize: 1vw;
    --labelSize: 0.8vw;

    --headerSize: 4vw;
    --headerDescriptionSize: 2.5vw;

    --textAreaHeight: 15vw;

    --imgCarouselHeight: 400px;

    --gridImageHeight: 300px;

    --popUpImageHeight: 320px;

    @media screen and (max-width: 1700px) {
        --imgCarouselHeight: 300px;
    }

    @media screen and (max-width: 1600px) {
        --titleSize: 3vw;
        --subTitleSize: 1.8vw;
        --navLinkSize: 1.5vw;
        --descriptionTitleSize: 1.4vw;
        --descriptionSize: 1.2vw;

        /* Label is used on the display cards*/
        --labelTitleSize: 1.2vw;
        --labelSize: 1vw;

        --textAreaHeight: 15vw;
    }

    @media screen and (max-width: 1500px) {
        --textAreaHeight: 10vw;
    }

    @media screen and (max-width: 1500px) {
        --textAreaHeight: 8vw;
    }

    @media screen and (max-width: 1200px) {
        --descriptionTitleSize: 1.6vw;
        --descriptionSize: 1.4vw;

        /* Label is used on the display ca  rds*/
        --labelTitleSize: 1.6vw;
        --labelSize: 1.4vw;

        --textAreaHeight: 15vw;
    }

    @media screen and (max-width: 900px) {
        --titleSize: 5vw;
        --subTitleSize: 2.4vw;
        --navLinkSize: 2.1vw;
        --descriptionTitleSize: 2.2vw;
        --descriptionSize: 2vw;

        /* Label is used on the display ca  rds*/
        --labelTitleSize: 2vw;
        --labelSize: 1.8vw;

        --textAreaHeight: 20vw;
    }

    @media screen and (max-width: 700px) {
        --titleSize: 6vw;
        --subTitleSize: 2.7vw;
        --navLinkSize: 2.4vw;
        --descriptionTitleSize: 2.5vw;
        --descriptionSize: 2.3vw;

        /* Label is used on the display ca  rds*/
        --labelTitleSize: 2.3vw;
        --labelSize: 2.1vw;

        --headerSize: 4.5vw;
        --headerDescriptionSize: 3vw;
    }

    @media screen and (max-width: 600px) {
        --paddingX: 4vw;
        --colPaddingX: 4vw;

        --titleSize: 7vw;
        --subTitleSize: 3vw;
        --navLinkSize: 2.7vw;
        --descriptionTitleSize: 2.8vw;
        --descriptionSize: 2.6vw;

        /* Label is used on the display ca  rds*/
        --labelTitleSize: 2.6vw;
        --labelSize: 2.4vw;

        --headerSize: 4.5vw;
        --headerDescriptionSize: 3vw;

        --textAreaHeight: 30vw;
    }

    @media screen and (max-width: 500px) {

        --titleSize: 8vw;
        --subTitleSize: 3.3vw;
        --navLinkSize: 3vw;
        --descriptionTitleSize: 3.3vw;
        --descriptionSize: 3.1vw;

        /* Label is used on the display ca  rds*/
        --labelTitleSize: 2.9vw;
        --labelSize: 2.7vw;

        --headerSize: 4.5vw;
        --headerDescriptionSize: 3vw;
    }
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #F2E6D0;
    font-family: 'Inria Sans', sans-serif;
}

img {
    object-fit: cover;
}

.images-container {
    background-color: #023859;
}

.images-container .title {
    color: #F2E6D0;
}

.titlePrimaryColor {
    color: var(--dark-blue);
    font-size: var(--titleSize);
    font-weight: bold;
}

.titleSecundaryColor {
    color: var(--brown);
    font-size: var(--titleSize);
    font-weight: bold;
}

.titleBackgroundColor {
    color: var(--backgound);
    font-size: var(--titleSize);
    font-weight: bold;
}

.subTitle {
    color: var(--brown);
    font-size: var(--subTitleSize);
    font-weight: bold;
}

.navLink {
    color: var(--dark-blue);
    font-size: var(--navLinkSize);
    font-weight: bold;
}

.descriptionTitleBlackColor {
    font-size: var(--descriptionTitleSize);
    color: var(--black);
    font-weight: bold;
}

.descriptionTitleSecundaryColor {
    font-size: var(--descriptionTitleSize);
    color: var(--brown);
}

.description {
    font-size: var(--descriptionSize);
    color: var(--black);
}

.labelTitle {
    font-size: var(--labelTitleSize);
    color: var(--white);
}

.label {
    font-size: var(--labelSize);
    color: var(--white);
}

.headerTitle {
    font-size: var(--headerSize);
    color: var(--dark-blue);
}

.headerDescription {
    font-size: var(--headerDescriptionSize);
    color: var(--black);
}

.buttonPrimary {
    background-color: var(--dark-blue);
    color: var(--backgound);
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 10px 45px;
    font-size: var(--descriptionSize);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.buttonDelete {
    background-color: red;
    color: var(--backgound);
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 10px 30px;
    font-size: var(--descriptionSize);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.buttonClose {
    background-color: gray;
    color: var(--backgound);
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 10px 30px;
    font-size: var(--descriptionSize);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.simpleButtonPrimary {
    color: var(--dark-blue);
}

.buttonLightBlue {
    background-color: var(--light-blue);
    color: var(--backgound);
    border-radius: 12px;
    text-align: center;
    border: none;
    padding: 10px 45px;
    font-size: var(--labelSize);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

/* Ticket styles */

.overlay-container {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.ticketPrice {
    font-size: var(--titleSize);
    color: var(--backgound);
}

.ticketType {
    font-size: var(--subTitleSize);
    color: var(--white);
}

.ticketDescription {
    font-size: var(--labelSize);
    color: var(--white);
}

.responsivePaddingX {
    padding-inline: var(--paddingX);
}

.row .responsivePaddingX {
    padding-inline: var(--colPaddingX);
}

.responsiveMarginy {
    margin-block: var(--marginY);
}

.drawer {
    background-color: var(--backgound);
}

label.radio {
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    width: 100%;
    padding: 7px 14px;
    border: 2px solid var(--dark-blue);
    display: inline-block;
    color: var(--dark-blue);
    border-radius: 3px;
    text-transform: uppercase;
}

label.radio input:checked+span {
    border-color: var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--backgound);
}

.buttonAll {
    width: 100%;
    padding: 7px 14px;
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--backgound);
    border-radius: 3px;
    text-transform: uppercase;
}

.icon-expand {
    width: 100%;
    height: 420px;
}

/* Carousel style */
p-carousel {
    background-color: var(--dark-blue);
}

p-carousel .card {
    margin-left: 5px;
    margin-right: 5px;
}

p-carousel img {
    height: var(--imgCarouselHeight);
}

textarea {
    height: var(--textAreaHeight);
}

.gridImages {
    height: var(--gridImageHeight);
    object-fit: cover;
}

.popUpImage {
    height: var(--popUpImageHeight);
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.dialogInputs {
    background-color: var(--backgound);
    border: 2px solid var(--dark-blue)
}

.modal-content {
    background-color: var(--backgound);
}

.colDashboard {
    max-width: 300px;
}

.cardDashboard {
    background-color: var(--backgound);
    border-color: transparent;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background: rgba(166, 130, 99, 0.6);
    text-align: center;
}

.bg-category {
    background-color: #A68263;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--dark-blue);
    padding-right: 40px;
    color: var(--dark-blue);
}

.input-search::placeholder {
    color: var(--dark-blue);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 60px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: var(--white);
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid var(--dark-blue);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}